*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

header nav{
  width: 75%;
  max-width: 1140px;
  margin: 0 auto ;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1{
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}
.color-orange{
  color: #FD6E0A;
}

.menu{
  list-style-type: none;
  display: flex;
  gap: 51px;
  align-items: center;
}
.menu li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #474747;
}
.menu li button{
  border: none;
  padding: 18px 35px;
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;

}
