*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1600px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

header nav{
  width: 71.25%;
  max-width: 1140px;
  margin: 0 232px 0 228px ;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1{
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}
.color-orange{
  color: #FD6E0A;
}

.menu{
  list-style-type: none;
  display: flex;
  gap: 51px;
  align-items: center;
}
.menu li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #474747;
}
.btn{
  border: none;
  padding: 18px 35px;
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;

}

#hero{
  width: 83.25%;
  max-width: 1332px;
  margin: 46px 40px 0 228px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content{
  max-width: 585px;
}

.hero-content h4{
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}

.hero-content h1{
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.hero-content div{
  display: flex;
  gap: 30px;
}
.hero-image img{
  max-width: 585px;
  vertical-align: middle;
}